---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import { Image } from 'astro:assets';
import ContentMedia from '../components/ContentMedia.astro';
---

<DefaultLayout title="What Is Tae Kwon-Do">
  <div class="container mx-auto px-4 space-y-12">
    <div data-aos="fade-right" data-aos-duration="1500" class="space-y-4 mt-4">
      <ContentMedia
        imgSrc={`${import.meta.env.BASE_URL}/Chon-ji - baektu.gif`}
        reverseImg={true}
        ,
        subtext="The crater lake Chon-Ji on the top of Mount Baektu."
      >
        <h3>What Is Tae Kwon-Do</h3>
        <h4>A South Korean Martial Art</h4>
        <p>
          TaeKwon-Do is a South Korean military martial art that was started by
          Major general Choi Hong Hi in 1955
        </p>
      </ContentMedia>
    </div>
    <div data-aos="fade-left" data-aos-duration="1500" class="space-y-4 mt-4">
      <ContentMedia
        imgSrc={`${import.meta.env.BASE_URL}/Gen Choi.jpg`}
        ,
        reverseImg={false}
        ,
        style="max-width: 300px; "
        ,
        subtext="The Founder in a Parallel Stance with a Heaven Hand Narani Hanalson Junbi Sogi."
      >
        <h3>The Founder</h3>
        <h4>Major General Choi Hong Hi</h4>
        <p></p>
        <p>
          The Taekwon-Do Founder, General Choi Hong Hi (dec) was born on
          November 9th, 1918 in the Hwa Dae, Myong Chung District. A sickly but
          wilful child, he was expelled from school at the age of 12 for leading
          a protest against the occupying Japanese. He is regarded as the
          Founder of Taekwon-do and served as President of the International
          Taekwon-do Federation (I.T.F.) for many years. General Choi Hong Hi
          (dec) passed away in June 2002, after a long battle with cancer.
        </p>
        <p>
          His father then persuaded him to study calligraphy and Chinese
          characters. Choi’s tutor, Master Han II Dong, was also a master of
          Taek Kyon, the ancient Korean art of foot fighting which Han II Dong
          had practised in secret throughout the Japanese occupation. Noticing
          Choi’s frail physique, he decided to teach him Taek Kyon too. Choi
          travelled to Japan, where he studied English, mathematics, and karate.
          In Kyoto, he met a fellow Korean with the surname Kim, who was a
          karate instructor and taught Choi this martial art. Choi also learned
          Shotokan karate under Funakoshi Gichin.
        </p>
      </ContentMedia>
    </div>

    <p>
      Just before he had left Korea, Choi apparently had a disagreement with a
      wrestler named Hu, and the possibility of a future confrontation inspired
      him to train; in his own words, “I would imagine that these were the
      techniques I would use to defend myself against the wrestler, Mr. Hu, if
      he did attempt to carry out his promise to tear me limb from limb when I
      eventually returned to Korea” . Choi attained the rank of 1st dan in
      karate in 1939, and then 2nd dan soon after. General Choi’s military
      career began in 1937, when he was forced, as were all Korean soldiers, to
      join the Japanese army as a student volunteer, during Japan’s occupancy of
      career. On his return to Korea in 1942, he hid to avoid conscription into
      the Japanese Army, but was eventually caught, and in October 1943 began
      his basic training. He was soon arrested during an attempt to escape and
      join the underground Korean Liberation Army. Sent to Pyung Yang prison for
      treason, he was due to have been executed on August 18 1945, three days
      after Korea was liberated. In 1945, Choi enrolled in the Koreans Military
      Academy, later to be commissioned to the rank of second lieutenant in
      1946. By 1948, he had been promoted to the rank of Lieutenant Colonel and
      was a Taekyon instructor for the military troops of the R.O.K. and the
      American Military Police School based in Korea. On the outbreak of the
      Korean War in 1950, Choi hurried back to Korea, where he was ordered to
      set up an officer training academy. In 1952 he was appointed chief of
      staff of the First Corps, and soon found himself briefing General Douglas
      MacArthur, the Supreme Commander of the United Nations troops, on the
      situation at the front line. During the Korean War (1950-1953), Choi was
      promoted to the rank of Brigadier General, becoming Chief of staff to the
      Korean Army. In 1954 Choi was promoted to the rank of Major General. From
      1946 to 1951, Choi received promotions to first lieutenant, captain,
      major, lieutenant colonel, colonel, and then brigadier general. Choi was
      promoted to major general in 1954. During his military career, General
      Choi constantly researched various martial arts, mainly Taekyon, kung fu
      and karate – drawing from each to create the original version of
      Taekwon-do. General Choi formed the Oh Do Kwan (Gym of my way) where
      Korean soldiers were trained in General Choi’s new martial art to become
      the pioneer Taekwon-do instructors. General Choi also commanded Chung Do
      Kwan, which was the largest civilian gym in Korea. In 1955 General Choi
      led the Korean Army’s Taekwon-do demonstration team on a tour of China and
      Vietnam to promote his form of unarmed combat. After breathtaking
      displays, both these countries adopted General Choi’s Taekwon-do as an
      integral part of their soldier’s military training. In 1961, the Korean
      Taekwon-do Association was formed with General Choi as its President.
      During the next few years, he led Taekwon-do demonstration teams
      throughout the world. In 1965, the South Korean government gave approval
      to General Choi’s martial art and declared it as Korea’s National martial
      art. As a Korean ambassador, and now a retired 3-star General, General
      Choi he led a goodwill mission on tours of Asia, Europe, Africa and the
      Middle East. On March 22nd, 1966, General Choi Hong Hi (dec) formed the
      International Taekwon-do Federation (I.T.F) in Seoul, Korea. At the time
      it had associations in Vietnam, Malaysia, Singapore, West Germany,
      America, Turkey, Italy, Egypt and Korea. Taekwon-Do was taken up by
      several foreign armies, and was taught at West Point in America. During
      the Vietnam War, the Taekwon-Do training of Korean and other foreign
      soldiers was said to have had a demoralising effect on the Viet Cong. In
      1971, the South Korean president Park Chung Hee began to use Taekwon-Do as
      anti-communist political propaganda. Choi, fiercely against this, went
      into exile in Canada. He continued to teach Taekwon-Do throughout the
      world, including in North Korea, and in 1974 he organised the first
      Taekwon-Do world championship in Montreal. All the while he had to endure
      death threats from Korean Central Intelligence, attempts to kidnap him and
      attempts on his life by armed assassins. On one occasion his son and
      daughter, who had stayed behind in South Korea, were kidnapped and their
      lives threatened if Choi did not return to Korea. His response was “I
      choose Taekwon-Do over my son”. They were freed. By 2000, General Choi,
      the Founder of Taekwon-Do, was announced by Taekwon-Do Times magazine, as
      the most influential martial artist on the century. General Choi died of
      cancer on 15 June 2002 in Pyongyang, North Korea. Choi is listed in the
      Taekwondo Hall of Fame with various titles: “Father of Taekwon-Do,”
      “Founder and First President of the International Taekwon-Do Federation,”
      and “Founder of Oh Do Kwan.” Choi is survived by his wife, Choi Joon Hee;
      his son, Choi Jung Hwa; two daughters, Sunny and Meeyun; and several
      grandchildren.
    </p>

    <hr />
    <div data-aos="fade-right" data-aos-duration="1500" class="space-y-4 mt-4">
      <ContentMedia
        imgSrc={`${import.meta.env.BASE_URL}/tagb_sw.png`}
        ,
        reverseImg={true}
        ,
        style="max-width: 300px; "
      >
        <h3>History of TaeKwon-Do</h3>
        <h4>By Gen. Choi Hong Hi (Taekwon-Do Yoksa)</h4>
        <p></p>
        <p>
          Although the origins of the martial arts are shrouded in mystery, we
          consider it an undeniable fact that from time immemorial there have
          been physical actions involving the use of the hands and feet for
          purpose of self-protection. If we were to define these physical
          actions as "Taekwon- Do", any country might claim credit for inventing
          Taekwon-Do. There is, however, scant resemblance between Taekwon-Do,
          as it is practiced today, and the crude forms of unarmed combat
          developed in the past. Modern Taekwon-Do differs greatly from other
          martial arts. In fact, no other martial art is so advanced with regard
          to the sophistication and effectiveness of its technique or the
          over-all physical fitness it imparts to its practitioners. Since the
          theories, terminology, techniques, systems, methods, rules, practice
          suit, and spiritual foundation were scientifically developed,
          systematized, and named by the author, it is an error to think of any
          physical actions employing the hand and feet for self-defence as
          Taekwon-Do. Only those who practice the techniques based on the
          author's theories, principles and philosophy are considered to be
          students of genuine Taekwon-Do.
        </p>
      </ContentMedia>
    </div>
  </div>
</DefaultLayout>
<style lang="scss">
  h3,
  h4 {
    color: var(--primary-100);
  }
</style>
