---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import { Image } from 'astro:assets';
import ContentMedia from '../components/ContentMedia.astro';
---

<DefaultLayout title="What Is Tae Kwon-Do">
  <div class="container mx-auto px-4 space-y-12">
    <div data-aos="fade-right" data-aos-duration="1500" class="space-y-4 mt-4">
      <ContentMedia
        imgSrc={`${import.meta.env.BASE_URL}/Chon-ji - baektu.gif`}
        reverseImg={true}
        ,
        subtext="The crater lake Chon-Ji on the top of Mount Baektu."
      >
        <h3>What Is Tae Kwon-Do</h3>
        <h4>A South Korean Martial Art</h4>
        <p>
          TaeKwon-Do is a South Korean military martial art that was started by
          Major general Choi Hong Hi in 1955
        </p>
      </ContentMedia>
    </div>
    <div data-aos="fade-left" data-aos-duration="1500" class="space-y-4 mt-4">
      <ContentMedia
        imgSrc={`${import.meta.env.BASE_URL}/Gen Choi.jpg`}
        ,
        reverseImg={false}
        ,
        style="max-width: 300px; "
        ,
        subtext="The Founder in a Parallel Stance with a Heaven Hand Narani Hanalson Junbi Sogi."
      >
        <h3>The Founder</h3>
        <h4>Major General Choi Hong Hi</h4>
        <p></p>
        <p>
          The Taekwon-Do Founder, General Choi Hong Hi (dec) was born on
          November 9th, 1918 in the Hwa Dae, Myong Chung District. A sickly but
          wilful child, he was expelled from school at the age of 12 for leading
          a protest against the occupying Japanese. He is regarded as the
          Founder of Taekwon-do and served as President of the International
          Taekwon-do Federation (I.T.F.) for many years. General Choi Hong Hi
          (dec) passed away in June 2002, after a long battle with cancer.
        </p>
        <p>
          His father then persuaded him to study calligraphy and Chinese
          characters. Choi’s tutor, Master Han II Dong, was also a master of
          Taek Kyon, the ancient Korean art of foot fighting which Han II Dong
          had practised in secret throughout the Japanese occupation. Noticing
          Choi’s frail physique, he decided to teach him Taek Kyon too. Choi
          travelled to Japan, where he studied English, mathematics, and karate.
          In Kyoto, he met a fellow Korean with the surname Kim, who was a
          karate instructor and taught Choi this martial art. Choi also learned
          Shotokan karate under Funakoshi Gichin.
        </p>
      </ContentMedia>
    </div>

    <p>
      Just before he had left Korea, Choi apparently had a disagreement with a
      wrestler named Hu, and the possibility of a future confrontation inspired
      him to train; in his own words, “I would imagine that these were the
      techniques I would use to defend myself against the wrestler, Mr. Hu, if
      he did attempt to carry out his promise to tear me limb from limb when I
      eventually returned to Korea” . Choi attained the rank of 1st dan in
      karate in 1939, and then 2nd dan soon after. General Choi’s military
      career began in 1937, when he was forced, as were all Korean soldiers, to
      join the Japanese army as a student volunteer, during Japan’s occupancy of
      career. On his return to Korea in 1942, he hid to avoid conscription into
      the Japanese Army, but was eventually caught, and in October 1943 began
      his basic training. He was soon arrested during an attempt to escape and
      join the underground Korean Liberation Army. Sent to Pyung Yang prison for
      treason, he was due to have been executed on August 18 1945, three days
      after Korea was liberated. In 1945, Choi enrolled in the Koreans Military
      Academy, later to be commissioned to the rank of second lieutenant in
      1946.
    </p>
    <p>
      By 1948, he had been promoted to the rank of Lieutenant Colonel and was a
      Taekyon instructor for the military troops of the R.O.K. and the American
      Military Police School based in Korea. On the outbreak of the Korean War
      in 1950, Choi hurried back to Korea, where he was ordered to set up an
      officer training academy. In 1952 he was appointed chief of staff of the
      First Corps, and soon found himself briefing General Douglas MacArthur,
      the Supreme Commander of the United Nations troops, on the situation at
      the front line. During the Korean War (1950-1953), Choi was promoted to
      the rank of Brigadier General, becoming Chief of staff to the Korean Army.
      In 1954 Choi was promoted to the rank of Major General. From 1946 to 1951,
      Choi received promotions to first lieutenant, captain, major, lieutenant
      colonel, colonel, and then brigadier general. Choi was promoted to major
      general in 1954. During his military career, General Choi constantly
      researched various martial arts, mainly Taekyon, kung fu and karate –
      drawing from each to create the original version of Taekwon-do. General
      Choi formed the Oh Do Kwan (Gym of my way) where Korean soldiers were
      trained in General Choi’s new martial art to become the pioneer Taekwon-do
      instructors. General Choi also commanded Chung Do Kwan, which was the
      largest civilian gym in Korea. In 1955 General Choi led the Korean Army’s
      Taekwon-do demonstration team on a tour of China and Vietnam to promote
      his form of unarmed combat. After breathtaking displays, both these
      countries adopted General Choi’s Taekwon-do as an integral part of their
      soldier’s military training.
    </p>
    <p>
      In 1961, the Korean Taekwon-do Association was formed with General Choi as
      its President. During the next few years, he led Taekwon-do demonstration
      teams throughout the world. In 1965, the South Korean government gave
      approval to General Choi’s martial art and declared it as Korea’s National
      martial art. As a Korean ambassador, and now a retired 3-star General,
      General Choi he led a goodwill mission on tours of Asia, Europe, Africa
      and the Middle East. On March 22nd, 1966, General Choi Hong Hi (dec)
      formed the International Taekwon-do Federation (I.T.F) in Seoul, Korea. At
      the time it had associations in Vietnam, Malaysia, Singapore, West
      Germany, America, Turkey, Italy, Egypt and Korea. Taekwon-Do was taken up
      by several foreign armies, and was taught at West Point in America. During
      the Vietnam War, the Taekwon-Do training of Korean and other foreign
      soldiers was said to have had a demoralising effect on the Viet Cong. In
      1971, the South Korean president Park Chung Hee began to use Taekwon-Do as
      anti-communist political propaganda. Choi, fiercely against this, went
      into exile in Canada. He continued to teach Taekwon-Do throughout the
      world, including in North Korea, and in 1974 he organised the first
      Taekwon-Do world championship in Montreal. All the while he had to endure
      death threats from Korean Central Intelligence, attempts to kidnap him and
      attempts on his life by armed assassins. On one occasion his son and
      daughter, who had stayed behind in South Korea, were kidnapped and their
      lives threatened if Choi did not return to Korea. His response was “I
      choose Taekwon-Do over my son”. They were freed. By 2000, General Choi,
      the Founder of Taekwon-Do, was announced by Taekwon-Do Times magazine, as
      the most influential martial artist on the century.
    </p>
    <p>
      General Choi died of cancer on 15 June 2002 in Pyongyang, North Korea.
      Choi is listed in the Taekwondo Hall of Fame with various titles: “Father
      of Taekwon-Do,” “Founder and First President of the International
      Taekwon-Do Federation,” and “Founder of Oh Do Kwan.” Choi is survived by
      his wife, Choi Joon Hee; his son, Choi Jung Hwa; two daughters, Sunny and
      Meeyun; and several grandchildren.
    </p>
    <div class="mt-4 mb-4">
      <hr />
    </div>
    <div data-aos="fade-right" data-aos-duration="1500" class="space-y-4 mt-4">
      <ContentMedia
        imgSrc={`${import.meta.env.BASE_URL}/the_korean_art_of_self_defence.jpg`}
        ,
        reverseImg={true}
        ,
        style="max-width: 300px; "
      >
        <h3>History of TaeKwon-Do</h3>
        <h4>By Gen. Choi Hong Hi (Taekwon-Do Yoksa)</h4>
        <p></p>
        <p>
          Although the origins of the martial arts are shrouded in mystery, we
          consider it an undeniable fact that from time immemorial there have
          been physical actions involving the use of the hands and feet for
          purpose of self-protection. If we were to define these physical
          actions as "Taekwon- Do", any country might claim credit for inventing
          Taekwon-Do. There is, however, scant resemblance between Taekwon-Do,
          as it is practiced today, and the crude forms of unarmed combat
          developed in the past. Modern Taekwon-Do differs greatly from other
          martial arts. In fact, no other martial art is so advanced with regard
          to the sophistication and effectiveness of its technique or the
          over-all physical fitness it imparts to its practitioners. Since the
          theories, terminology, techniques, systems, methods, rules, practice
          suit, and spiritual foundation were scientifically developed,
          systematized, and named by the author, it is an error to think of any
          physical actions employing the hand and feet for self-defence as
          Taekwon-Do. Only those who practice the techniques based on the
          author's theories, principles and philosophy are considered to be
          students of genuine Taekwon-Do.
        </p>
      </ContentMedia>
    </div>

    <h4>When And Where Did TaeKwon-Do Begin?</h4>

    <p>
      A combination of circumstances made it possible for me to originate and
      develop Taekwon-Do. In addition to my prior knowledge of Taek Kyon, I had
      an opportunity to learn Karate in Japan during the unhappy thirty-six
      years when my native land was occupied by the Japanese. Soon after Korea
      was liberated in 1945, I was placed in a privileged position as a founding
      member of the newly formed South Korean Armed Forces.
    </p>
    <p>
      The former provided me with a definite sense of creation, and the latter
      gave me the power to disseminate Taekwon-Do throughout the entire armed
      forces, despite furious opposition.
    </p>
    <p>
      The emergence of Taekwon-Do as an international martial art in a
      relatively short period of time was due to a variety of factors. The evils
      of contemporary society (moral corruption, materialism, selfishness, etc.)
      had created a spiritual vacuum. Taekwon-Do was able to compensate for the
      prevailing sense of emptiness, distrust, decadence and lack of confidence.
    </p>
    <p>
      In addition, these were violent times, when people felt the need for a
      means of protecting themselves, and the superiority of Taekwon-Do
      technique came to be widely recognized. My social stature, the advantage
      of being Taekwon-Do's founder and my God-given health also contributed to
      the rapid growth of Taekwon-Do all over the world.
    </p>
    <p>
      My involvement with the martial arts did much to supplement the health
      that God gave me. I had been born frail and weak and was encouraged to
      learn Taek Kyon at the age of fifteen by my teacher of calligraphy. In
      1938, a few days before I was due to leave Korea to study in Japan I was
      involved in an unexpected incident that would have made it difficult to
      return home without risk of reprisals.
    </p>
    <p>
      I resolved to become a black belt holder in Karate while I was in Japan.
      The skills I required were, I felt, sufficient protection against those
      who might seek to do me harm. Not only was I able to return to Korea, but
      I subsequently initiated the national liberation movement known as the
      Pyongyang Student Soldier's Incident. Like so many patriots in the long
      course of human history, my actions aroused the wrath of those in
      positions of power. I was imprisoned for a time in a Japanese army jail.
      In January of 1946, I was commissioned as a second lieutenant in the
      fledgling Republic of Korea army and posted to the 4th infantry regiment
      in Kwangju, Cholla Namdo Province as a company commander.
    </p>
    <p>
      I began to teach Karate to my soldiers as a means of physical and mental
      training. It was then that I realized that we needed to develop our own
      national martial art, superior in both spirit and technique to Japanese
      Karate. I strongly believed that teaching it throughout the country would
      enable me to fulfil the pledge I had made to three of my comrades, who had
      shared my imprisonment by the Japanese.
    </p>
    <p>
      "The reason that our people suffer in this way at the hands of the
      Japanese," I had said, "is that our ancestors failed to rule wisely. They
      exploited the people and, in the end, lost the country to foreign
      domination. If we ever regain our freedom and independence, let us not
      become the rulers of the people. Instead, let us dedicate ourselves to
      advising those who rule."
    </p>
    <p>
      It was with this ambition in mind that I began to develop new techniques,
      systematically, from March of that same year. By the end of 1954 I had
      nearly completed the foundation of a new martial art for Korea, and on
      April 11, 1955, it was given the name "Taekwon-Do".
    </p>
    <p>
      On the spiritual level, Taekwon-Do is derived from the traditional,
      ethical and moral principles of the orient and, of course, from my
      personal philosophy.
    </p>
    <p>
      Even though I am only five feet tall, I pride myself on having lived in
      strict accordance with my moral convictions. I have tried to fight on the
      side of justice without fear of any kind. I believe that this was possible
      for me only because of the formidable power and indomitable spirit
      instilled by Taekwon-Do.
    </p>
    <p>
      The physical techniques of Taekwon-Do are based on the principles of
      modern science, in particular, Newtonian physics which teaches us how to
      generate maximum power. Military tactics of attack and defence have also
      been incorporated.
    </p>
    <p>
      I wish to make it clear that although Karate and Taek Kyon were used as
      references in the course of my study, the fundamental theories and
      principles of Taekwon-Do are totally different from those of any other
      martial art in the world.
    </p>
    <p>
      In March of 1959, I led the military Taekwon-Do demonstration team on a
      tour abroad. We visited South Vietnam and Taiwan. It was the first such
      visit in the history of Korea. On this occasion, I renewed my resolution
      to leave my personal legacy to the world, in the form of Taekwon-Do, and I
      formulated the following basic ideals for the Taekwon-Do practitioners:
    </p>
    <p>
      By developing an upright mind and a strong body, we will acquire the
      self-confidence to stand on the side of justice at all times.
    </p>
    <p>
      We shall unite with all men in a common brotherhood, without regard to
      religion, race, national or ideological boundaries.
    </p>
    <p>
      We shall dedicate ourselves to building a peaceful human society in which
      justice, morality, trust and humanism prevail. I also resolved to dedicate
      myself to the world-wide propagation of Taekwon-Do, in the sincere hope
      that it would provide the means by which the unification of the divided
      halves of my fatherland would become possible.
    </p>
    <p>
      My study of Taekwon-Do proceeded in two parts, spiritual discipline and
      technical perfection. Because the human spirit belongs to the realm of
      metaphysics, what I mean by spiritual discipline is not easy to describe.
      One cannot touch, see or hear the spirit of man, It is wider and deeper
      than anything we can perceive. In this respect, I, myself, am only another
      student participating in a continuing and never-ending learning process.
    </p>
    <p>
      I have come to define the spiritual dimensions of Taekwon-Do as fusing
      oneself with the ideals of Taekwon-Do and attaining and understanding the
      full meaning of each of the Taekwon-Do patterns. If we consider ourselves
      as one with Taekwon-Do, we will respect it as we respect our own bodies
      and Taekwon-Do will never be used in a dishonourable way.
    </p>
    <p>
      The names of the patterns are derived from the most illustrious people to
      have been produced by nearly five thousand years of Korean history. A
      proper understanding of the patterns leads, inevitably to the realization
      that Taekwon-Do is a martial art to be used only for self-defence and only
      in the cause of justice.
    </p>
    <p>
      The history of Korea contains not a single sample of its military forces
      being employed for the invasion of its neighbours or for any other purpose
      except national defence.
    </p>
    <p>
      In the technical area, I created a wide variety of techniques that can be
      used in almost any situation. They are based on the following principles:
    </p>
    <p>
      -All movement should be designed to produce maximum power in accordance
      with scientific formulas and the principle of kinetic energy. <br />

      -The principles behind the techniques should be so clear that even those
      ignorant to Taekwon-Do will be able to distinguish correct from incorrect
      movement. <br />
      -The distance and angle of each movement should be exactly defined in order
      to achieve more efficient attack and defence. <br />
      -The purpose and method of each movement should be clear and simple, in order
      to facilitate the teaching and learning process.
      <br />
      -Rational teaching methods should be developed so that the benefits of Taekwon-Do
      can be enjoyed by everyone, young and old, men and women.<br />

      -Correct breathing methods should be devised, enhancing the speed of each
      movement and reducing fatigue. -Attack should be possible against any
      vital spot on the body and it should be possible to defend against all
      varieties of attack.<br />

      -Each attacking tool should be clearly defined and soundly based on the
      structure of the human body. <br />

      -Each movement should be easy to execute, enabling the student to enjoy
      Taekwon-Do as a sport and recreation. <br />

      -Special consideration should be paid to promoting good health and
      preventing injuries. -Each movement should be harmonious and rhythmical so
      that Taekwon-Do is aesthetically pleasing. <br />

      -Each movement in a pattern must express the personality and spiritual
      character of the person it is named after. Adherence to these basic
      principles is what makes Taekwon-Do a martial art, an aesthetic art, a
      science and sport.
      <br /><br />
      <i
        >Reproduced from "Taekwon-Do" (The Korean Art of Self Defence) also
        known as The Condensed Encyclopaedia. Fifth Edition 1999, All rights
        reserved Copyright 1988, 1991, 1992, 1995, 1999 General Choi, Hong Hi.</i
      >
    </p>
  </div>
  <style lang="scss">
    h3,
    h4 {
      color: var(--primary-100);
    }
  </style>
</DefaultLayout>
