---
import { Image } from 'astro:assets';
import ContentMedia from '../components/ContentMedia.astro';
import Hero from '../components/Hero.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import TKDBanner from '../assets/img/TKD Banner.png';
---

<DefaultLayout title="Home">
  <Hero
    title="Cullompton Tae Kwon-Do"
    ,
    description="Focus - Discipline - Confidence - Self Control - Leadership - Family Friendly"
    media={{
      src: `${import.meta.env.BASE_URL}/logo.png`,
      alt: 'TAGB Cullompton Logo',
      class: 'hidden lg:block',
    }}
  />
  <div
    class="absolute left-1/2 -translate-x-1/2 bottom-0 flex justify-center w-full pb-4 hidden lg:block"
  >
    <svg
      width="150"
      height="150"
      viewBox="0 0 24 24"
      fill="none"
      stroke="var(--primary-100)"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="chevron-down"
    >
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </div>
  <div
    class="container mx-auto px-4 flex flex-col items-center text-center"
    data-aos="fade-left"
    data-aos-duration="1500"
  >
    <h3 class="redheading">Welcome to Cullompton Tae Kwon-Do</h3>

    <ContentMedia
      imgSrc={`${import.meta.env.BASE_URL}/shane.png`}
      ,
      reverseImg={false}
    >
      <div class="text-lg py-4 px-2">
        <p class="mb-3">
          Cullompton Tae Kwon Do is a friendly martial arts club training twice
          a week at Culm Valley Sports Centre.
        </p>
        <p class="mb-3">Why not come along and give it a try!</p>
        <p class="mb-3">Training Times Mondays & Wednesdays 7-8pm</p>
        <p class="mb-3">Age 7 years and over, train as a family!</p>
        <p class="mb-3">
          Join us to learn self-defense, improve your fitness, and develop
          discipline and confidence through the art of Tae Kwon-Do.
        </p>
        <p class="mb-3">
          <a href={`${import.meta.env.BASE_URL}/contact/`}> Contact us here</a>
        </p>
        <p class="mb-3">
          <a href={`${import.meta.env.BASE_URL}/about-us/`}>
            Learn more about us</a
          >
        </p>
      </div>
    </ContentMedia>

    <div
      class="container mx-auto px-4 flex flex-col items-center text-center"
      data-aos="fade-right"
      data-aos-duration="1500"
    >
      <Image src={TKDBanner} alt="Cullompton Tae Kwon-Do Logo" />
    </div>
  </div>
  <style lang="scss">
    .redheading {
      color: var(--primary-100);
    }
    .chevron-down {
      margin: auto;
      width: 5em;
      height: 5em;
      animation: hover-me 1s infinite ease-in-out alternate;
    }

    @keyframes hover-me {
      100% {
        transform: translate3d(0, 25px, 0);
      }
    }
  </style>
</DefaultLayout>
